<body>
  <div class="calculator-container">
    <div class="display">
      <h1>{{ display }}</h1>
      <input 
        type="button" 
        value="<" 
        class="calculator-button"
        (click)="deleteLastDigit()">
      <input 
        type="button" 
        value="C" 
        class="calculator-button"
        (click)="clearDisplay()">
    </div>
    <div class="numbers-grid">
      <input 
        *ngFor="let item of numbers" 
        class="calculator-button" 
        type="button"
        value={{item}}
        (click)="markNumber(item)">
    </div>
  </div>
  <h3 *ngIf="showErr">You can only enter one operation at a time!!</h3>
</body>